{% extends 'base.html' %}

{% block meta %}
<title>Login</title>
{% endblock meta %}

{% block content %}
<nav class="navbar navbar-expand-lg" style="display: flex; justify-content: center; padding: 10px; background-color: rgb(177, 215, 180)">
    <h3 >Welcome, please Login</h3>
</nav>
<div class = "login"style=" height: 100%; padding-top: 70px;">

   <div style="display: flex; justify-content: center" ><h1 >Login</h1></div>
    <form method="POST" action="" style="display: flex; justify-content: center">
        {% csrf_token %}
        <table class="table" style="width: 400px;">
            <tr>
                <td>Username: </td>
                <td><input type="text" name="username" placeholder="Username" class="form-control"></td>
            </tr>
                    
            <tr>
                <td>Password: </td>
                <td><input type="password" name="password" placeholder="Password" class="form-control"></td>
            </tr>

            <tr>
                <td></td>
                <td><input class="btn login_btn btn-primary" type="submit" value="Login" style="width:100px ;"></td>
            </tr>
        </table>
    </form>
    {% if messages %}
        <ul>
            {% for message in messages %}
                <li>{{ message }}</li>
            {% endfor %}
        </ul>
    {% endif %}     
        
    <p style="display: flex; justify-content: center">Belum mempunyai akun? <a href="{% url 'wishlist:register' %}">Buat Akun</a></p>

</div>

{% endblock content %}