{% extends 'base.html' %}

{% block meta %}
<title>Registrasi Akun</title>
{% endblock meta %}

{% block content %}  
<nav class="navbar navbar-expand-lg" style="background-color: rgb(247, 246, 220); display: flex; justify-content: center;" ><h1>Formulir Registrasi</h1> </nav>

<div class = "login">
    
        <form method="POST" >  
            {% csrf_token %}  
            <table class="table" style="margin: 10% ;">  
                {{ form.as_table }}  
                <tr>  
                    <td></td>
                    <td><input class="btn btn-primary" type="submit" name="submit" value="Daftar" style="width: 200px;"/></td>  
                </tr>  
            </table>  
        </form>

    {% if messages %}  
        <ul>   
            {% for message in messages %}  
                <li>{{ message }}</li>  
                {% endfor %}  
        </ul>   
    {% endif %}

</div>  

{% endblock content %}