{% extends 'base.html' %}

{% block content %}
<nav class="navbar navbar-expand-lg" style="display: flex; justify-content: space-between; padding: 10px;background-color: rgb(177, 215, 180)">
    <div class="" style="margin-left: 20px; margin-bottom: 2px;">
       <a >Nama: {{nama}}</a>
    </div>
    <button type="button" class="btn btn-danger" style="margin-right: 20px;"><a href="{% url 'wishlist:logout' %}" style="color: white;">Logout</a></button>

</nav>

<table class="table table-bordered">
    <tr>
    <th>Nama Barang</th>
    <th>Harga Barang</th>
    <th>Deskripsi</th>
    </tr>
    {% comment %} Tambahkan data di bawah baris ini {% endcomment %}
    {% for barang in list_barang %}
    <tr>
        <th>{{barang.nama_barang}}</th>
        <th>{{barang.harga_barang}}</th>
        <th>{{barang.deskripsi}}</th>
    </tr>
{% endfor %}
</table>
<button class="btn btn-success">Direc To AJAX</button>
<h5>Sesi terakhir login: {{ last_login }}</h5>

{% endblock content %}